<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 启动时显示哪个标签 -->
    <add key="StartIndex" value="0"/>

    <!-- 测试gzip时的默认显示 -->
    <add key="gzipurl" value="http://beinet.cn/default.aspx"/>
    <add key="gzipips" value="1.2.3.4;5.6.7.8"/>

    <!-- 加解密的默认密码 -->
    <add key="cryptPwd" value="12345678"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
