<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 启动时显示哪个标签,从0开始计数 -->
    <add key="StartIndex" value="5"/>

    <!-- 测试gzip时的默认显示 -->
    <add key="gzipurl" value="http://beinet.cn/default.aspx"/>
    <add key="gzipips" value="1.2.3.4;5.6.7.8"/>

    <!-- 加解密的默认密码 -->
    <add key="cryptPwd" value="12345678"/>
    <!-- 加解密的默认密码2 -->
    <add key="cryptPwd2" value="12345678"/>

    <!-- Dll分析 或 文件MD5 处理时要跳过的目录列表，以分号分隔，为空时忽略.svn;.git -->
    <add key="DirNoProcess" value=""/>
  </appSettings>
  <system.net>
    <!--<defaultProxy enabled="false"></defaultProxy>-->
    <connectionManagement>
      <add address="*" maxconnection="1000"/>
    </connectionManagement>
  </system.net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
